# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Figures
figures/*.png
figures/*.jpg

# Results
results/*.csv
results/*.xlsx
results/*.json

# Logs
logs/

# OS
.DS_Store
Thumbs.db